.page_content
  %p
    Recorder
    %br
    Store data by calling a url
    %br
    %small
      by
      %a{:href => "http://maryrosecook.com"}= "maryrosecook"
  %a{:href => "/set/mydata/woo/yeah"}= "Record some data"
  %br
  %a{:href => "/get/mydata/woo.json"}= "Retrieve it"

